<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,300,0,0"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
        />
        <link rel="stylesheet" href="style.css" />
        <title>Document</title>
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-sm py-0 z-3 shadow-lg">
            <div class="container-fluid bg-dark-subtle px-3 py-3 rounded-0">
                <a href="/adminHome.html" class="navbar-brand"
                    >Moove <span class="fw-medium">Admin</span></a
                >
                <button
                    class="navbar-toggler fs-7 py-2 rounded-4 shadow-none"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div
                    class="collapse navbar-collapse flex-grow-0 gap-3 w-fit"
                    id="navbarSupportedContent"
                >
                    <ul class="nav nav-pills d-flex" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a
                                class="nav-link text-light fs-7 text-opacity-50 fw-medium rounded-4"
                                id="home"
                                data-bs-toggle="tab"
                                type="button"
                                role="tab"
                            >
                                Trang chủ
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a
                                :class="active === '/admin/users' ? 'active' : ''"
                                @click="goToManageUsers"
                                class="pointer nav-link text-light fs-7 text-opacity-50 fw-medium rounded-4 active"
                                id="user"
                                data-bs-toggle="tab"
                                data-bs-target="#profile-tab-pane"
                                role="tab"
                                aria-controls="profile-tab-pane"
                                aria-selected="false"
                            >
                                Người dùng
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a
                                class="nav-link text-light fs-7 text-opacity-50 fw-medium rounded-4"
                                id="video"
                                data-bs-toggle="tab"
                                data-bs-target="#profile-tab-pane"
                                type="button"
                                role="tab"
                                aria-controls="profile-tab-pane"
                                aria-selected="false"
                            >
                                Video
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a
                                class="nav-link text-light fs-7 text-opacity-50 fw-medium rounded-4"
                                id="report"
                                data-bs-toggle="tab"
                                data-bs-target="#profile-tab-pane"
                                type="button"
                                role="tab"
                                aria-controls="profile-tab-pane"
                                aria-selected="false"
                            >
                                Báo cáo - thống kê
                            </a>
                        </li>
                    </ul>
                    <div class="dropdown">
                        <a
                            class="btn p-1 border-0 bg-white rounded-circle shadow-sm"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            <img
                                src="/public/wallpaper-4k-hinh-nen-4k-xanh-muot-dep_100025898.jpg"
                                alt=""
                                style="height: 30px; width: 30px"
                                class="rounded-circle"
                            />
                        </a>

                        <ul
                            class="dropdown-menu dropdown-menu-end mt-2 rounded-4 z-3 border-0 shadow-lg overflow-hidden bg-dark p-2"
                        >
                            <li>
                                <a
                                    class="dropdown-item d-flex gap-2 fs-7 align-items-center py-2 pe-5 rounded-3"
                                    href="#"
                                >
                                    <span class="material-symbols-outlined">
                                        account_circle
                                    </span>
                                    <span>Xem hồ sơ</span>
                                </a>
                            </li>

                            <li>
                                <a
                                    class="dropdown-item d-flex gap-2 fs-7 align-items-center py-2 pe-5 rounded-3"
                                    href="#"
                                >
                                    <span class="material-symbols-outlined">
                                        logout
                                    </span>
                                    <span>Đăng xuất</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Main -->
        <div class="container pt-3 setup-frame pb-5">
            <a
                href="/manageUser.html"
                class="icon-link text-decoration-none fs-7 icon-link-hover pointer text-light border-height-1 px-2 py-1 border-secondary border-opacity-50 bg-secondary bg-opacity-10 rounded-3"
                style="--bs-icon-link-transform: translate3d(-0.25rem, 0, 0)"
            >
                <i
                    class="bi bi-chevron-left position-relative"
                    style="bottom: 3px"
                >
                    <use xlink:href="#arrow-left"></use>
                </i>
                Quay lại danh sách người dùng
            </a>
            <div class="col-12 mt-4">
                <div class="fs-3 d-flex align-items-center gap-2">
                    Hồ sơ người dùng
                </div>
            </div>
            <form action="" method="post" class="row m-0 p-0 mt-3">
                <div
                    class="col-12 d-flex flex-column align-items-center position-relative"
                    style="padding: -100px !important"
                >
                    <label for="" class="w-100 fw-bold">Ảnh đại diện</label>
                    <div
                        class="d-flex justify-content-center position-relative w-fit p-1 shadow-sm bg-dark rounded-circle"
                    >
                        <img
                            style="width: 160px; height: 160px"
                            class="avt"
                            src="https://yt3.ggpht.com/bOma6mzpgUu7Z2ZdwELRLEYLlGo15blWkWtAoys7xaWs9xKPazUBCYfmfUPnrEaQD4bKVcx3mRA=s88-c-k-c0x00ffffff-no-rj"
                            alt=""
                        />
                        <input
                            type="file"
                            name="avartar"
                            id="input-avt"
                            class="h-100 w-100 position-absolute avt opacity-0 pointer"
                        />
                    </div>
                    <label for="" class="w-100 mb-2 fw-bold">Ảnh bìa</label>

                    <div
                        class="d-flex justify-content-center position-relative h-fit w-100"
                    >
                        <img
                            class="bg-img w-100 rounded-4"
                            src="https://i.pinimg.com/736x/c2/ec/e3/c2ece337384f2f713d4c9d41246e0926.jpg"
                            alt=""
                        />
                        <input
                            type="file"
                            name="avartar"
                            id="input-avt"
                            class="h-100 w-100 position-absolute avt opacity-0 pointer"
                        />
                    </div>
                </div>
                <div class="col-lg col-12 position-relative">
                    <div class="mt-3 mb-2 w-100 fw-bold">
                        Thông tin tài khoản
                    </div>
                    <div
                        class="text-start bg-dark-subtle ps-3 pe-0 py-3 pt-4 rounded-4"
                    >
                        <div class="row gap-2">
                            <div class="row">
                                <label
                                    for="inputEmail3"
                                    class="col-md-4 col-lg-2 col-form-label fs-7"
                                    >Họ và tên</label
                                >
                                <div class="col-lg-10 col-12">
                                    <input
                                        type="text"
                                        class="form-control rounded-3 fs-7 fw-light py-2 shadow-none"
                                        id="inputEmail3"
                                        placeholder="Họ và tên"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <label
                                    for="inputEmail3"
                                    class="col-md-4 col-lg-2 col-form-label fs-7"
                                    >Email</label
                                >
                                <div class="col-lg-10 col-12">
                                    <input
                                        type="email"
                                        class="form-control rounded-3 fs-6 fw-light py-2 shadow-none"
                                        id="inputEmail3"
                                        placeholder="Example@gmail.com"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <label
                                    for="inputEmail3"
                                    class="col-md-4 col-lg-2 col-form-label fs-7"
                                    >Số điện thoại</label
                                >
                                <div class="col-lg-10 col-12">
                                    <input
                                        type="number"
                                        class="form-control rounded-3 fs-6 fw-light py-2 shadow-none"
                                        id="inputEmail3"
                                        placeholder="0123456789"
                                    />
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <label
                                    for="inputEmail3"
                                    class="col-md-4 col-lg-2 col-form-label fs-7 fw-medium"
                                    >Giới tính</label
                                >
                                <div class="col-lg-10 col-12 row gap-3 m-0">
                                    <div class="form-check col-auto">
                                        <input
                                            class="form-check-input"
                                            type="radio"
                                            name="flexRadioDefault"
                                            id="flexRadioDefault1"
                                        />
                                        <label
                                            class="form-check-label fs-7"
                                            for="flexRadioDefault1"
                                        >
                                            Nam
                                        </label>
                                    </div>
                                    <div class="form-check col-auto">
                                        <input
                                            class="form-check-input"
                                            type="radio"
                                            name="flexRadioDefault"
                                            id="flexRadioDefault2"
                                            checked
                                        />
                                        <label
                                            class="form-check-label fs-7"
                                            for="flexRadioDefault2"
                                        >
                                            Nữ
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <label
                                    for=""
                                    class="col-md-4 col-lg-2 col-form-label fs-7 fw-medium"
                                    >Trạng thái tài khoản</label
                                >
                                <div class="col-lg-10 col-12 row gap-3 m-0">
                                    <button
                                        id="btn-status"
                                        value="true"
                                        class="col-auto btn btn-sm rounded-3 bg-secondary bg-opacity-10 border-0 d-flex align-items-center gap-2"
                                    >
                                        <div
                                            class="dot bg-success"
                                            id="dot"
                                        ></div>
                                        <div id="message-active" class="fs-8">
                                            Đang hoạt động
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button
                        type="submit"
                        class="btn btn-light mt-2 rounded-3 fs-7 float-end"
                    >
                        Lưu thay đổi
                    </button>
                </div>
            </form>

            <div class="row mt-4 m-0 p-0">
                <a
                    href="/reportOfVideo.html"
                    class="icon-link w-fit mb-2 text-decoration-none fs-7 icon-link-hover pointer text-light"
                    style="--bs-icon-link-transform: translate3d(0.25rem, 0, 0)"
                >
                    Số liệu thống kê
                    <i
                        class="bi bi-chevron-right position-relative"
                        style="bottom: 3px"
                    >
                        <use xlink:href="#arrow-left"></use>
                    </i>
                </a>
                <div
                    class="gy-2 row border-height-1 m-0 py-3 border-secondary border-opacity-50 rounded-4 bg-secondary bg-opacity-10"
                >
                    <div class="col-md-3 col-6">
                        <div class="fs-8 text-white-50">Lượt xem</div>
                        <div class="fs-3">107.010.488</div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="fs-8 text-white-50">Lượt thích</div>
                        <div class="fs-3">341.019</div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="fs-8 text-white-50">Lượt bình luận</div>
                        <div class="fs-3">1.000.000</div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="fs-8 text-white-50">Lượt chia sẻ</div>
                        <div class="fs-3">61.222</div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    <script>
        const home = document.getElementById("home");
        const user = document.getElementById("user");
        const video = document.getElementById("video");
        const report = document.getElementById("report");
        home.addEventListener("click", () => {
            window.location.href = "/adminHome.html";
        });
        user.addEventListener("click", () => {
            window.location.href = "/manageUser.html";
        });
        video.addEventListener("click", () => {
            window.location.href = "/manageVideo.html";
        });
        report.addEventListener("click", () => {
            window.location.href = "/report.html";
        });

        const btnStatus = document.getElementById("btn-status");
        const dot = document.getElementById("dot");
        const messageActive = document.getElementById("message-active");

        btnStatus.addEventListener("click", () => {
            if (dot.classList.contains("bg-success")) {
                dot.classList.remove("bg-success");
                dot.classList.add("bg-danger");
                messageActive.innerHTML = "Bị khoá";
            } else {
                dot.classList.remove("bg-danger");
                dot.classList.add("bg-success");
                messageActive.innerHTML = "Đang hoạt động";
            }
        });
    </script>
</html>
