<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,300,0,0"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
        />
        <link rel="stylesheet" href="style.css" />
        <title>Document</title>
    </head>
    <style>
        .form-control:focus {
            box-shadow: none !important;
        }
        .cursor-text {
            cursor: text !important;
        }
    </style>
    <body>
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-sm py-0 z-3 shadow-lg">
            <div class="container-fluid bg-dark-subtle px-3 py-3 rounded-0">
                <a href="/adminHome.html" class="navbar-brand"
                    >Moove <span class="fw-medium">Admin</span></a
                >
                <button
                    class="navbar-toggler fs-7 py-2 rounded-4 shadow-none"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div
                    class="collapse navbar-collapse flex-grow-0 gap-3 w-fit"
                    id="navbarSupportedContent"
                >
                    <ul class="nav nav-pills d-flex" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a
                                class="nav-link text-light fs-7 text-opacity-50 fw-medium rounded-4"
                                id="home"
                                data-bs-toggle="tab"
                                type="button"
                                role="tab"
                            >
                                Trang chủ
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a
                                :class="active === '/admin/users' ? 'active' : ''"
                                @click="goToManageUsers"
                                class="pointer nav-link text-light fs-7 text-opacity-50 fw-medium rounded-4"
                                id="user"
                                data-bs-toggle="tab"
                                data-bs-target="#profile-tab-pane"
                                role="tab"
                                aria-controls="profile-tab-pane"
                                aria-selected="false"
                            >
                                Người dùng
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a
                                class="nav-link text-light fs-7 text-opacity-50 fw-medium rounded-4 active"
                                id="video"
                                data-bs-toggle="tab"
                                data-bs-target="#profile-tab-pane"
                                type="button"
                                role="tab"
                                aria-controls="profile-tab-pane"
                                aria-selected="false"
                            >
                                Video
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a
                                class="nav-link text-light fs-7 text-opacity-50 fw-medium rounded-4"
                                id="report"
                                data-bs-toggle="tab"
                                data-bs-target="#profile-tab-pane"
                                type="button"
                                role="tab"
                                aria-controls="profile-tab-pane"
                                aria-selected="false"
                            >
                                Báo cáo - thống kê
                            </a>
                        </li>
                    </ul>
                    <div class="dropdown">
                        <a
                            class="btn p-1 border-0 bg-white rounded-circle shadow-sm"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            <img
                                src="/public/wallpaper-4k-hinh-nen-4k-xanh-muot-dep_100025898.jpg"
                                alt=""
                                style="height: 30px; width: 30px"
                                class="rounded-circle"
                            />
                        </a>

                        <ul
                            class="dropdown-menu dropdown-menu-end mt-2 rounded-4 z-3 border-0 shadow-lg overflow-hidden bg-dark p-2"
                        >
                            <li>
                                <a
                                    class="dropdown-item d-flex gap-2 fs-7 align-items-center py-2 pe-5 rounded-3"
                                    href="#"
                                >
                                    <span class="material-symbols-outlined">
                                        account_circle
                                    </span>
                                    <span>Xem hồ sơ</span>
                                </a>
                            </li>

                            <li>
                                <a
                                    class="dropdown-item d-flex gap-2 fs-7 align-items-center py-2 pe-5 rounded-3"
                                    href="#"
                                >
                                    <span class="material-symbols-outlined">
                                        logout
                                    </span>
                                    <span>Đăng xuất</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Main -->
        <div class="container pt-3 setup-frame pb-5">
            <a
                href="/manageVideo.html"
                class="icon-link text-decoration-none fs-7 icon-link-hover pointer text-light border-height-1 px-2 py-1 border-secondary border-opacity-50 bg-secondary bg-opacity-10 rounded-3"
                style="--bs-icon-link-transform: translate3d(-0.25rem, 0, 0)"
            >
                <i
                    class="bi bi-chevron-left position-relative"
                    style="bottom: 3px"
                >
                    <use xlink:href="#arrow-left"></use>
                </i>
                Quay lại danh sách video
            </a>
            <div class="col-12 mt-4">
                <div class="fs-3 d-flex align-items-center gap-2">
                    Chi tiết video
                    <i id="icon-lock" class="bi fs-4 pointer bi-lock"></i>
                </div>
            </div>
            <div class="row m-0 p-0 mt-3">
                <div class="col-lg-4 col-12">
                    <iframe
                        class="video-detail rounded-3"
                        id="iframe-video"
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/p8mnCFWyL58?si=QLqH5awTaA-yqq-4"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen
                    ></iframe>
                </div>
                <div class="col-lg-8 col-12 p-0">
                    <!-- Textarea title -->
                    <textarea
                        class="form-control cursor-none border-transparent fs-5 fw-semibold"
                        id="title"
                        rows="1"
                        readonly
                        style="overflow: hidden; resize: none"
                        placeholder="Nhập văn bản..."
                    >
2 Ngày 1 Đêm Lễ Hội 2024-Tập 72:HIEULAM sum họp sau "hoạn nạn",Bảo Anh-Cris Phan tung chiêu "xã hội"</textarea
                    >

                    <!-- Textarea description -->
                    <textarea
                        id="description"
                        class="form-control mt-2 cursor-none border-transparent fs-6 fw-light"
                        readonly
                        rows="1"
                        style="overflow: hidden; resize: none"
                        placeholder="Nhập văn bản..."
                    >
2 Ngày 1 Đêm Lễ Hội 2024-Tập 72:HIEULAM sum họp sau "hoạn nạn",Bảo Anh-Cris Phan tung chiêu "xã hội"

Xem TRỌN BỘ 2 Ngày 1 Đêm:
Mùa 1 👉    • 2 NGÀY 1 ĐÊM VIỆT NAM FULL | Show tru...  
Mùa 2 👉    • 🌈 2 NGÀY 1 ĐÊM VIỆT NAM - MÙA 2 | Phi...  
Mùa 3 👉    • ☀️2 NGÀY 1 ĐÊM VIỆT NAM - MÙA 3 | Chơ...  

🎧 Nghe Theme song 2 Ngày 1 Đêm  👉 https://VieNETWORK.bfan.link/2N1D

💕Sở hữu các sản phẩm Merchandise 2 Ngày 1 Đêm tại https://vieshop.vn/</textarea
                    >

                    <div class="mt-2 text-white-50 fw-light px-2">
                        <span class="fs-7">Thời gian đăng video: </span
                        ><span class="text-white fs-6">08/06/2024</span>
                    </div>
                    <div class="mt-2 row m-0 p-0 gap-2 px-2">
                        <button
                            id="btn-status"
                            class="col-auto btn btn-sm rounded-3 bg-secondary bg-opacity-10 border-0 d-flex align-items-center gap-2"
                        >
                            <div class="dot bg-success" id="dot"></div>
                            <div id="message-active" class="fs-8"></div>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row mt-4 m-0 p-0">
                <a
                    href="/reportOfVideo.html"
                    class="icon-link w-fit mb-2 text-decoration-none fs-7 icon-link-hover pointer text-light"
                    style="--bs-icon-link-transform: translate3d(0.25rem, 0, 0)"
                >
                    Số liệu thống kê
                    <i
                        class="bi bi-chevron-right position-relative"
                        style="bottom: 3px"
                    >
                        <use xlink:href="#arrow-left"></use>
                    </i>
                </a>
                <div
                    class="gy-2 row border-height-1 m-0 py-3 border-secondary border-opacity-50 rounded-4 bg-secondary bg-opacity-10"
                >
                    <div class="col-md-3 col-6">
                        <div class="fs-8 text-white-50">Lượt xem</div>
                        <div class="fs-3">107.010.488</div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="fs-8 text-white-50">Lượt thích</div>
                        <div class="fs-3">341.019</div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="fs-8 text-white-50">Lượt bình luận</div>
                        <div class="fs-3">1.000.000</div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="fs-8 text-white-50">Lượt chia sẻ</div>
                        <div class="fs-3">61.222</div>
                    </div>
                </div>
            </div>

            <div class="row mt-4 m-0 p-0">
                <a
                    href="/reportOfVideo.html"
                    class="icon-link w-fit mb-2 text-decoration-none fs-7 icon-link-hover pointer text-light"
                    style="--bs-icon-link-transform: translate3d(0.25rem, 0, 0)"
                >
                    Người đăng
                    <i
                        class="bi bi-chevron-right position-relative"
                        style="bottom: 3px"
                    >
                        <use xlink:href="#arrow-left"></use>
                    </i>
                </a>
                <div class="d-flex align-items-center gap-2">
                    <img
                        src="https://yt3.ggpht.com/bOma6mzpgUu7Z2ZdwELRLEYLlGo15blWkWtAoys7xaWs9xKPazUBCYfmfUPnrEaQD4bKVcx3mRA=s88-c-k-c0x00ffffff-no-rj"
                        alt=""
                        class="avt-ad-vd"
                    />
                    <div class="">
                        <div class="fw-semibold fs-6">2 NGÀY 1 ĐÊM VIETNAM</div>
                        <div class="fs-8 fw-light">
                            <span>2.900.000</span> người theo dõi
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4 m-0 p-0">
                <div class="mb-2">Nguồn video</div>
                <div
                    class="row gap-2 p-0 m-0 col-12"
                    id="video-link"
                    style="height: 35.59px !important"
                >
                    <div class="input-group row p-0 m-0 col">
                        <i
                            class="bi input-group-text bi-link-45deg fs-5 col-auto"
                        ></i>
                        <input
                            id="input-url-video"
                            value="https://www.youtube.com/embed/p8mnCFWyL58?si=QLqH5awTaA-yqq-4"
                            class="col btn rounded-3 rounded-start-0 border-secondary border-opacity-25 text-start py-1 bg-secondary bg-opacity-10 fs-6 gap-2"
                        />
                    </div>
                    <button
                        id="btn-check"
                        class="form-control w-fit bg-white fs-6 text-black rounded-3 h-fit"
                    >
                        Kiểm tra
                    </button>
                    <button
                        id="btn-reset-video"
                        type="button"
                        class="form-control w-fit"
                    >
                        <i class="bi bi-arrow-clockwise"></i>
                    </button>
                </div>
                <div id="message" class="fs-8 mt-1 text-danger">
                    <i class="bi bi-exclamation-circle me-1"></i>
                    <span class="">Link không hợp lệ</span>
                </div>
                <div class="p-0 mt-3">
                    <button
                        class="btn-outline-danger fs-7 btn py-1 rounded-3"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteModal"
                    >
                        <i class="bi bi-trash3 me-2"></i>Xoá video
                    </button>
                    <div
                        class="modal fade"
                        id="deleteModal"
                        data-bs-backdrop="static"
                        data-bs-keyboard="false"
                        tabindex="-1"
                        aria-labelledby="staticBackdropLabel"
                        aria-hidden="true"
                    >
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content rounded-4">
                                <div
                                    class="modal-header p-3 border-bottom border-secondary border-opacity-25"
                                >
                                    <div
                                        class="mb-1 fw-bold"
                                        style="font-size: 1rem"
                                    >
                                        Xoá video
                                    </div>
                                </div>
                                <div
                                    class="modal-body border-bottom border-secondary border-opacity-25 fs-7"
                                >
                                    <div class="">
                                        Vui lòng nhấp vào
                                        <span class="text-danger"
                                            >xác nhận</span
                                        >
                                        khi chắc chắn muốn xoá video "<span
                                            class="fw-semibold"
                                            >SƠN TÙNG M-TP | ĐỪNG LÀM TRÁI TIM
                                            ANH ĐAU | OFFICIAL MUSIC VIDEO</span
                                        >".
                                    </div>
                                    <div>Thao tác này không thể hoàn tác.</div>
                                </div>
                                <div class="modal-footer py-2 border-0 px-2">
                                    <button
                                        type="button"
                                        class="btn border-secondary bg-body-secondary fs-8 rounded-3"
                                        data-bs-dismiss="modal"
                                    >
                                        Huỷ bỏ
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-danger fs-8 rounded-3 py-1"
                                    >
                                        Xác nhận
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    <script>
        const title = document.getElementById("title");
        const description = document.getElementById("description");
        const iconLock = document.getElementById("icon-lock");
        const dot = document.getElementById("dot");
        const messageActive = document.getElementById("message-active");
        const btnStatus = document.getElementById("btn-status");
        const btnCheck = document.getElementById("btn-check");
        const inputUrlVideo = document.getElementById("input-url-video");
        const autoResize = (textarea) => {
            textarea.style.height = "auto";
            textarea.style.height = `${textarea.scrollHeight}px`;
        };
        const videoLink = document.getElementById("video-link");
        const message = document.getElementById("message");
        const iframeVideo = document.getElementById("iframe-video");
        const btnResetVideo = document.getElementById("btn-reset-video");
        const currentUrl = iframeVideo.src;

        messageActive.textContent = "Đang hoạt động";
        btnStatus.style.pointerEvents = "none";
        inputUrlVideo.setAttribute("type", "button");
        videoLink.removeChild(btnCheck);
        videoLink.parentElement.removeChild(message);
        videoLink.removeChild(btnResetVideo);

        title.addEventListener("input", () => {
            autoResize(title);
        });

        description.addEventListener("input", () => {
            autoResize(description);
        });

        autoResize(title);
        autoResize(description);

        const extractYouTubeVideoId = (url) => {
            const regex =
                /(?:youtu\.be\/|youtube\.com\/(?:embed\/|watch\?v=|v\/|shorts\/|.*[?&]v=))([\w-]{11})/;
            const match = url.match(regex);
            return match ? match[1] : null;
        };

        const checkUrlVideoYoutube = () => {
            const idVideo = extractYouTubeVideoId(inputUrlVideo.value);

            fetch(
                `https://www.youtube.com/oembed?url=https://www.youtube.com/watch?v=${idVideo}&format=json`
            ).then((response) => {
                if (response.status === 400) {
                    let inputUrl = videoLink.children[0].children[1];
                    inputUrl.classList.add("border-danger");
                    inputUrl.classList.remove("border-opacity-25");
                    videoLink.parentElement.appendChild(message);
                } else if (response.ok) {
                    iframeVideo.src = `https://www.youtube.com/embed/${idVideo}`;
                    let inputUrl = videoLink.children[0].children[1];
                    inputUrl.classList.remove("border-danger");
                    inputUrl.classList.add("border-opacity-25");
                    videoLink.parentElement.removeChild(message);
                }
            });
        };

        btnResetVideo.addEventListener("click", () => {
            iframeVideo.src = currentUrl;
            videoLink.children[0].children[1].value = currentUrl;
            videoLink.removeChild(btnResetVideo);
            checkUrlVideoYoutube();
        });

        btnCheck.addEventListener("click", () => {
            checkUrlVideoYoutube();
        });

        btnStatus.addEventListener("click", () => {
            if (messageActive.textContent === "Đang hoạt động") {
                messageActive.textContent = "Đã ẩn";
                dot.classList.remove("bg-success");
                dot.classList.add("bg-secondary");
            } else {
                messageActive.textContent = "Đang hoạt động";
                dot.classList.remove("bg-secondary");
                dot.classList.add("bg-success");
            }
        });

        iconLock.addEventListener("click", () => {
            if (iconLock.classList.contains("bi-lock")) {
                iconLock.classList.remove("bi-lock");
                iconLock.classList.add("bi-unlock");
                title.removeAttribute("readonly");
                title.classList.add("cursor-text");
                title.classList.remove("border-transparent");
                description.removeAttribute("readonly");
                description.classList.add("cursor-text");
                description.classList.remove("border-transparent");
                title.classList.add("cursor-text");
                description.classList.add("cursor-text");
                btnStatus.style.pointerEvents = "";
                inputUrlVideo.setAttribute("type", "text");
                inputUrlVideo.classList.add("cursor-text");
                videoLink.appendChild(btnCheck);
            } else if (
                iconLock.classList.contains("bi-unlock") &&
                !videoLink.parentElement.contains(message)
            ) {
                iconLock.classList.remove("bi-unlock");
                iconLock.classList.add("bi-lock");
                title.setAttribute("readonly", "");
                title.classList.remove("cursor-text");
                title.classList.add("border-transparent");
                description.setAttribute("readonly", "");
                description.classList.add("border-transparent");
                title.classList.remove("cursor-text");
                description.classList.remove("cursor-text");
                btnStatus.style.pointerEvents = "none";
                inputUrlVideo.setAttribute("type", "button");
                inputUrlVideo.classList.remove("cursor-text");
                videoLink.removeChild(btnCheck);
                videoLink.removeChild(btnResetVideo);
            }
        });

        inputUrlVideo.addEventListener("input", () => {
            if (inputUrlVideo.value !== currentUrl) {
                videoLink.appendChild(btnResetVideo);
            } else {
                videoLink.removeChild(btnResetVideo);
            }
        });

        const home = document.getElementById("home");
        const user = document.getElementById("user");
        const video = document.getElementById("video");
        const report = document.getElementById("report");
        home.addEventListener("click", () => {
            window.location.href = "/adminHome.html";
        });
        user.addEventListener("click", () => {
            window.location.href = "/manageUser.html";
        });
        video.addEventListener("click", () => {
            window.location.href = "/manageVideo.html";
        });
        report.addEventListener("click", () => {
            window.location.href = "/report.html";
        });
    </script>
</html>
